<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button id="test">test</button>
    <div id="testdiv"></div>
    <script src="/page1/bundle.js"></script>
    <script TYPE="text/javascript" src="/reload/reload.js"></script>
  </body>
</html>
