<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div class="top_div"></div>
    <div id="loginDiv"></div>
    <div style="text-align:center"></div>
    <div id="counterDiv"></div>
    <div id="newCounterDiv"></div>
    <script src="/page1/bundle.js"></script>
    <script TYPE="text/javascript" src="/reload/reload.js"></script>
  </body>
</html>
